body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  font-size: 3.5rem;
  color: #ffc107;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}



h1 {
  font-size: 4rem; /* Tamaño de fuente modificado */
  color: #ffc107;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

h3 {
  font-size: 1.5rem; /* Tamaño de fuente modificado */
  color: #ffc107;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

p {
  font-size: 1.5rem; /* Tamaño de fuente modificado */
  color: #ffc107;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

.menu-horizontal {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffb74d;
}

.menu-horizontal li {
  display: inline-block;
}

.menu-horizontal li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #2c3e50;
  transition: background-color 0.3s ease;
}

.menu-horizontal li a:hover {
  background-color: #ff9800;
}

.menu-vertical {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-vertical li {
  margin-bottom: 10px;
}

.menu-vertical li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #2c3e50;
  transition: color 0.3s ease;
}

.menu-vertical li a:hover {
  color: #e74c3c;
}

.ajustar-goku img {
  width: 200px;
  height: auto;
  border: 3px solid #34495e;
  margin: 10px;
  transition: transform 0.3s ease;
}

.ajustar-goku img:hover {
  transform: scale(1.1);
}


